@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: black;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  color: #000000;

}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  text-align: center;

}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}
.advantages-description-promo {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.advantages-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.facilities-main{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.facilities-description-promo{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}
.facilities-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.facilities-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}
.interest-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.interest-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.page-footer-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.page-footer-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color:#000000;
  text-decoration: none;
}


.newsletter{
  background-image: url("../images/footer-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
