@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: black;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

}
.navigation-link.button{
  background-color: #756157;
  color:#FFFFFF;
}

.promo {
  background-image: url("../images/index-background.jpg");
  background-color:#FFFFFF;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-promo{
  background-color:#FFFFFF;
  color: #000000;

}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  text-align: center;

}

.advantages-item{
  background-color: #82B3D3;
}
.advantages-item-light{
  background-color: rgba(131, 179, 211, 0.2);
}


.advantages-item-light-blue{
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}
.advantages-description-promo {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.advantages-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.facilities-main{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.facilities-description-promo{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}
.facilities-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;


}
.facilities-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.facilities-item-food{
  background-color: #FFFFFF;
}
.facilities-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}
.interest-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.interest-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.page-footer-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.page-footer-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color:#000000;
  text-decoration: none;
}


.newsletter{
  background-image: url("../images/footer-background.jpg");
  background-color: #333333;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.catalog{
  background-image: url("../images/catalog-images/inner-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #333333;
  color: #FFFFFF;
}
.inner-header-title{
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #FFFFFF;
}
.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.breadcrumbs-link{
  color:inherit;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}
.hotels-found{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

}
.hotel-card{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #83B3D3;

}
.hotel-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;

}
.hotel-card-link{
  text-decoration: none;
}
.hotel-rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
}
.newsletter.background-color{
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
.newsletter-description{
  color: #333333;
  text-align: center;
}
